<div class="col-md-6 col-lg-4">
    <div class="card h-100 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Authentication and Authorization in SigmaPHP</h5>
            <p class="card-text">Secure your applications effectively by implementing user authentication
                and authorization features.</p>
            <p class="card-text"><small class="text-muted">Date: 2024-06-10 | Comments: 15 | Author: Alice
                    Wonderland</small></p>
            <a href="#" class="btn btn-primary btn-sm">Read More</a>
        </div>
    </div>
</div>