* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 30px;
    width: 30px;
}

.card-title {
    min-height: 3rem;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.card-text {
    min-height: 4.5rem;
    max-height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.ck-editor__editable {
    min-height: 300px;
}