* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 30px;
    width: 30px;
}

.card-title {
    min-height: 3rem;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.card-text {
    min-height: 4.5rem;
    max-height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.ck-editor__editable {
    min-height: 300px;
    color: #000 !important;
}

.btn-primary {
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
}

.btn-outline-primary {
    border-color: #ffa500 !important;
    color: #ffa500 !important;
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: #E39300 !important;
    border-color: #E39300 !important;
}

.btn-outline-primary {
  border-color: #ffa500 !important;
  color: #ffa500 !important;
}

.pagination .page-link {
    color: #ffa500 !important;
}

.pagination .page-item.active .page-link {
    background-color: #ffa500 !important;
    border-color: #ffa500 !important;
    color: #fff !important;
}

.pagination .page-item.active .page-link:hover {
    background-color: #E39300 !important;
    border-color: #ffa500 !important;
}

.text-primary {
  color: #ffa500 !important;
}
