<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/SigmaPHP-Logo.png" alt="Logo" class="d-inline-block align-text-top me-2 logo">
            SigmaPHP Demo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url('home') }}" id="home-nav">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('posts.index') }}" id="blog-nav">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('about') }}" id="about-nav">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('contact') }}" id="contact-nav">Contact</a>
                </li>
            </ul>

            <form class="d-flex my-2 my-lg-0 mx-lg-auto order-lg-2">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary d-flex align-items-center" type="submit">
                    <i class="bi bi-search me-2"></i>Search
                </button>
            </form>

            <div class="d-flex ms-auto my-2 my-lg-0 order-lg-3">
                <a href="#" class="btn btn-primary me-2">Login</a>
                <a href="#" class="btn btn-outline-primary">Register</a>
            </div>
        </div>
    </div>
</nav>