{% extend 'layout/base' %}

{% block 'title' %}{{ $action }} Post{% end_block %}

{% block 'content' %}

<div class="row g-4 justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4 text-primary fw-bold">{{ $action }} Post</h2>

                {% for $message in $flashMessages %}
                    {% include 'components.alert' %}
                {% end_for %}

                <form action="/posts/{% if ($action == 'Create') %}create{% else %}{{ $id }}/edit{% end_if %}" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ $oldValues['title'] ?? $title }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="summary" class="form-label">Summary</label>
                        <input type="text" class="form-control" id="summary" name="summary" value="{{ $oldValues['summary'] ?? $summary }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="body" class="form-label">Body</label>
                        <textarea class="form-control" id="body" name="body" rows="8">{{ $oldValues['body'] ?? $body }}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle me-2"></i>Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% block 'js' %}
    <script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#body')).catch(error => console.error(error));
    </script>
{% end_block %}

{% end_block %}
