{% extend 'layout/base' %}

{% block 'title' %}Home{% end_block %}

{% block 'content' %}

<div class="row g-4">
    {% for $post in $posts %}
    <div class="col-md-12 col-lg-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ $post->title }}</h5>
                <p>{{ $post->summary }}</p>
                <p><small class="text-muted">Date: {{ $post->created_at }} | Comments: 15 | Author:
                        Alice Wonderland</small></p>
                <a href="{{ url('posts.show', ['id' => $post->id]) }}" class="btn btn-primary btn-sm">Read More</a>
            </div>
        </div>
    </div>
    {% end_for %}
</div>

{% include 'components.pagination' %}

{% end_block %}